:root{
    --white:#E4E4DE;
    --grey:#C4C5BA;
    --black:#1B1B1B;
    --green:#595f39;
    --greenShadow:#3e4228;
    --font-family: Georgia, serif;
    --transition: 0.3s;
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    font-family: var(--font-family);
    background-color: var(--grey);
}

nav {
    position: sticky;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 3.5rem;
    background-color: var(--black);
    box-shadow: 0 3px 5px var(--green);
}

nav h1 {
    color: var(--white);
}

nav ul {
    list-style-type: none;
    display: flex;
    gap: 1.9rem;
}

nav a {
    text-decoration: none;
    color: var(--white);
    transition: var(--transition);
}

nav li {
    float: left;
}

nav a:hover {
  border-bottom: 2px solid var(--green);
}

h1 {
    color: var(--black);
    margin-bottom: 10px;
}

p1 {
    color: var(--black);
}

.imageProfile {
     width: 284px;
     padding: 10px 10px 20px 10px;
     border: 2px solid var(--black);
     background-color: white;
     box-shadow: 10px 10px 5px var(--green);
}

.aboutMe {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.aboutMe h1 {
    margin-bottom: 20px;
}

.aboutMe div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.aboutMe p1 {
    width: auto;
    border: 7px solid var(--black);
    border-radius: 25px;
    background: var(--white);
    box-shadow: 5px 10px 18px var(--green);
    padding: 50px;
    margin: auto;
}

.aboutMe p1:hover {
    transform: scale(1.01);
    transition: var(--transition);
}

.imageProfile:hover {
    transform: scale(1.005);
    transition: var(--transition);
}

.skills {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 50px;
    margin-bottom: 20px;
}

.skills h1 {
    margin-bottom: 20px;
}

.technologies-grid {
    display: grid;
    grid-template-columns: auto auto auto auto;
    column-gap: 150px;
    row-gap: 75px;
    justify-content: center;
    margin-bottom: 50px;
    margin-top: 50px;
}

.technologies-item {
    width: 175px;
    padding: 10px 10px 20px 10px;
    border: 2px solid var(--white);
    background-color: (--grey);
    box-shadow: 5px 5px 2.5px var(--green);
    border-radius: 7.5px;
}

.technologies-item:hover {
    transform: scale(1.02);
    transition: var(--transition);
}

.languages-grid {
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 150px;
    row-gap: 75px;
    justify-content: center;
    margin-bottom: 50px;
    margin-top: 50px;
}

.languages-item {
    text-align: center;
    padding: 10px 10px 10px 10px;
    border: 2px solid var(--white);
    background-color: var(--grey);
    box-shadow: 5px 5px 2.5px var(--green);
}

.languages-item:hover {
    transform: scale(1.01);
    transition: var(--transition);
}

.caption-image {
    width: 175px;
    height: 110px;
}

.caption-text {
    display: block
}

.projects {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 50px;
    margin-bottom: 20px;
    display:block;
}

.projects h1 {
    margin-bottom: 20px;
}

.profExp {
    margin-bottom: 20px;
}

.profExp h4{
    margin-top: 10px;
    margin-bottom: 5px;
}

.contact {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 50px;
    margin-bottom: 20px;
    display:block;
}

.contact h1 {
    margin-bottom: 20px;
}

.formContainer {
    display:block;
    text-align: center;
}

.contactForm {
    margin-left: 15%;
    margin-right: 15%;
}

input[type=text], textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid var(--green);
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical
}

input[type=submit] {
  background-color: var(--green);
  color: var(--white);
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 300px;
}

input[type=submit]:hover {
  background-color: var(--greenShadow);
}